{
  "extends": "@hackney/eslint-config",
  "rules": {
    "no-nested-ternary": "off",
    "import/no-cycle": "off",
    "react-hooks/exhaustive-deps": "off",
    "react-hooks/rules-of-hooks": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.+(test|spec).+(j|t)s?(x)",
          "test?(s)/**/*.+(j|t)s?(x)",
          "**/*.config.?(m)js",
          "src/mocks/*.ts",
          "**/test-utils.tsx"
        ]
      }
    ]
  }
}
